.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
  .categories {
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
  }
}
